@font-face {
    font-family: Josefin;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

body{
    text-align: center;
    font-family: Josefin;
}

.commonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.commonInput{
    width: 50px;
    padding: 5px;
    text-align: center;
}

.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(240, 238, 238);
}

.button:hover{
    background-color: rgb(202, 201, 201);
    cursor: pointer;
}

.grid{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.cell{
    background-color: lightgrey;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#repDiv{
    margin-top: 20px;
}